{{#each people as |person|}}

  <div class="giftee-selectable" data-id="{{person.id}}">
    <p class="giftee-name-style">{{person.name}} <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></p>
  </div>

{{/each}}
