$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$yellow: #ffff76; // title background
$cyan: #02d8ea; // body background
$dk-grey: #363636;
$lt-red: #ff8660;

$padding: 8px;

body {
  background-color: $cyan;
}

.body-active-user {
  width: 100%;
}

.btn {
  background-color: $yellow !important;
  border: 1px solid $dk-grey !important;
  border-radius: 0;
  color: $dk-grey !important;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.btn:hover {
  background-color: $lt-red !important;
  border: 1px solid $dk-grey !important;
  color: $dk-grey !important;
}

.btn:active {
  background-color: $lt-red !important;
  border: 1px solid $dk-grey  !important;
  color: $dk-grey  !important;
}

.button-holder {
  float: right;
  height: 50px;
  margin-right: $padding;
}

.content-holder {
  margin: auto;
  max-width: 675px;
  padding-top: 32px;
  margin-bottom: 32px;
}

// is the actual button (not the dropdown part)
.dropdown-toggle {
  background-color: $lt-red;
  border: 1px solid $dk-grey;
  color: $dk-grey;
  margin-top: $padding;
}

// background top and bottom of button dropdowns
.dropdown-menu {
  background-color: $lt-red;
  border-radius: 0;
  color: $dk-grey;
}

// middle of dropdown menu background/font
fieldset {
  background-color: $lt-red;
  color: $dk-grey;
}

.giftee-notes > fieldset {
  background-color: $yellow;
}

.giftee-ideas > fieldset {
  background-color: $yellow;
}

// padding to either side of the inputs in dropdown-menus
form {
  padding-left: $padding / 2 !important;
  padding-right: $padding / 2 !important;
}

// is the input text fields and buttons (e.g. email, password, "sign in" button inside dropdown menu)
input {
  background-color: $lt-red;
  border: 1px solid $dk-grey;
  color: $dk-grey;
  float: right;
}

.loading-image {
  height: 600px;
  width: 600px;
}

@media (min-width: 769px) {
  .giftees-holder {
    background-color: $lt-red;
    // float: left;
    height: 500px;
    padding: 0;
    max-width: 175px;
    overflow-y: scroll;
  }

  .notes-holder {
    background-color: $yellow;
    // float: left;
    height: 500px;
    max-width: 250px;
    overflow-y: scroll;
    border-left: 1px solid $dk-grey;
    border-right: 1px solid $dk-grey;
  }

  .ideas-holder {
    background-color: $yellow;
    // float: left;
    height: 500px;
    max-width: 250px;
    overflow-y: scroll;
  }
}

@media (max-width: 768px){
  .giftees-holder {
    background-color: $lt-red;
    // float: left;
    height: 120px;
    overflow-y: scroll;
  }

  .notes-holder {
    background-color: $yellow;
    border-top: 1px solid $dk-grey;
    border-bottom: 1px solid $dk-grey;
    // float: left;
    height: 250px;
    overflow-y: scroll;
  }

  .ideas-holder {
    background-color: $yellow;
    // float: left;
    height: 250px;
    overflow-y: scroll;
  }
}

.header {
  background-color: $yellow;
  height: 50px;
  width: 100%;
  // padding: 8px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: $dk-grey;
  border-style: $dk-grey solid none;
  border-width: 1px 0;
  margin: $padding 0;
}

.image-header {
  height: 50px;
  width: 133px;
}

footer {
  text-align: center;
  background-color: $yellow;
  bottom: 0; // fixed position at the bottom of the scren
  clear: both;
  color: $dk-grey;
  position: fixed; // uses the bottom location
  width: 100%; // keeps it the width of the page
}

.sign-out-button {
  float: right;
}


// MESSAGE FONT WEIGHT
.sign-up-message {
  font-weight: bolder;
}
.sign-in-message {
  font-weight: bolder;
}
.change-pw-message {
  font-weight: bolder;
}
.sign-out-message {
  font-weight: bolder;
}

.save-changes {
  margin-top: $padding;
  margin-bottom: $padding;
}



.giftee-name-taker {
  background-color: $lt-red;
  border: 1px solid $dk-grey !important;
  border-radius: 0;
  color: $dk-grey;
  padding: $padding / 2;
}


.giftee-selectable {
  margin-left: $padding;
}

// .make-giftee-namer > button {
//   background-color: $lt-red !important;
//   border: 1px solid $dk-grey !important;
//   border-radius: 0;
//   color: $dk-grey !important;
//   margin: 0 !important;
//   width: 150px;
//   // -webkit-transition-duration: .2s;
//   // transition-duration: .2s;
// }
//
// .make-giftee-button > form {
//   width: 150px;
//   padding: $padding /2 !important;
// }
//
// .make-giftee-button > input {
//   width: 100px;
// }
