$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$yellow: #fcfc96; // title background
$cyan: #95dfe6; // body background
$dk-grey: #363636;
$lt-red: #f08968;

$padding: 8px;

body {
  background-color: white;
}

.body-active-user {
  margin: 0;
  padding: 0;
  width: 100%;
}

.btn {
  background-color: $yellow !important;
  border: 1px solid $dk-grey !important;
  border-radius: 0;
  color: $dk-grey !important;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.btn:hover {
  background-color: $yellow !important;
  border: 1px solid $dk-grey !important;
  color: $dk-grey !important;
}

.btn:active {
  background-color: $yellow !important;
  border: 1px solid $dk-grey  !important;
  color: $dk-grey  !important;
}

.button-holder {
  float: right;
  height: 50px;
  margin-right: $padding;
}

// is the actual button (not the dropdown part)
.dropdown-toggle {
  background-color: $lt-red;
  border: 1px solid $dk-grey;
  color: $dk-grey;
  margin-top: $padding;
}

// background top and bottom of button dropdowns
.dropdown-menu {
  background-color: $cyan;
  border-radius: 0;
  color: $dk-grey;
}

// middle of dropdown menu background/font
fieldset {
  background-color: $cyan;
  color: $dk-grey;
}

.giftee-notes > fieldset {
  background-color: $cyan;
}

.giftee-ideas > fieldset {
  background-color: $cyan;
}

// MESSAGE FONT WEIGHT
.sign-up-message {
  font-weight: bolder;
}
.sign-in-message {
  font-weight: bolder;
}
.change-pw-message {
  font-weight: bolder;
}
.sign-out-message {
  font-weight: bolder;
}

.content-holder {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 675px;
  padding-top: 32px;
}

.user-auth-input {
  background-color: white;
}

// padding to either side of the inputs in dropdown-menus
form {
  padding-left: $padding / 2 !important;
  padding-right: $padding / 2 !important;
}

.giftee-selectable {
  position: relative;
}

.giftee-name-style {
  font-size: 16px;
  font-weight: bolder;
  padding: $padding / 2;
};

.header {
  background-color: $lt-red;
  height: 50px;
  width: 100%;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: $dk-grey;
  border-style: $dk-grey solid none;
  border-width: 1px 0;
  margin: $padding 0;
}

.loading-image {
  text-align: center;
  max-width: 100%;
}

// is the input text fields and buttons (e.g. email, password, "sign in" button inside dropdown menu)
input {
  background-color: $lt-red;
  border: 1px solid $dk-grey;
  color: $dk-grey;
  float: right;
}

.giftees-holder {
  background-color: $lt-red;
  float: left;
  height: 500px;
  padding: 0;
  width: 175px;
  overflow-y: scroll;
}

.notes-holder {
  background-color: $cyan;
  float: left;
  height: 500px;
  margin-left: 10px;
  overflow-y: scroll;
  width: 240px;
}

.notes-message,
.idea-message {
  color: $lt-red;
  font-weight: bold;
}

.form-control {
  width: 230px !important;
}

.form-group {
  margin-bottom: 8px !important;
}

.idea-price-taker {
 width: 197px !important;
}

.ideas-holder {
  background-color: $cyan;
  float: left;
  height: 500px;
  overflow-y: scroll;
  margin-left: 10px;
  width: 240px;
}

.idea-style {
  font-weight: bolder;
};

.pending-ideas-holder {
  padding-left: $padding / 2 !important;
  padding-right: $padding / 2 !important;
}

.image-header {
  height: 50px;
  width: 93px;
  padding: $padding / 2;
}

.sign-out-button {
  float: right;
}

.save-changes {
  margin-top: $padding;
  margin-bottom: $padding;
}

.giftee-name-taker {
  background-color: white;
  border: 1px solid $dk-grey !important;
  border-radius: 0;
  color: $dk-grey;
  padding: $padding / 2;
  width: 103px !important;
}

.giftee-name-button {
  height: 34px;
  width: 72px;
}

.giftee-selectable {
  margin-left: $padding;
  width:75%;
  text-align: left;
  float: left;
}

.giftee-trash-icon {
  margin-top: 8px;
  width:18%;
  text-align: center;
  float: right;
}

.idea-label {
  font-weight: bolder;
};

.idea-message {
  font-weight: bolder;
  margin: 0;
  padding-top: $padding / 2;
};

footer {
  text-align: center;
  background-color: $lt-red;
  bottom: 0; // fixed position at the bottom of the scren
  clear: both;
  color: $dk-grey;
  position: fixed; // uses the bottom location
  width: 100%; // keeps it the width of the page
}

.portfolio-link {
  color: $dk-grey;
  text-decoration: underline;
}

@media (max-width: 705px){
  .content-holder {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 300px;
    padding-top: 32px;
  }

  .giftees-holder {
    height: 120px;
    width: 300px;
  }

  .form-control {
    width: 290px !important;
  }

  .giftee-name-taker {
    width: 228px !important;
  }

  .idea-price-taker {
   width: 257px !important;
  }

  .notes-holder {
    border-left: 1px solid $cyan;
    border-right: 1px solid $cyan;
    margin: 10px 0;
    width: 300px;
  }

  .ideas-holder {
    margin-bottom: 29px;
    margin-left: 0;
    width: 300px;
  }
}
